<% include ../toppage %>

<section class="bg-primary" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-left">
				<% if( locals.mensagem && mensagem.tipo === "ERRO" ) { %>
					<p><%= mensagem.texto %></p>
				<% } %>
				
				<h3>Pessoas cadastradas</h3>
				<a href="/cadastro" title="Cadastrar" class="btn btn-success"> Cadastrar </a>
				<br/>
				<br/>
				<table class="table well">
					<thead style="color:green">
						<tr>
							<th>Id</th>
							<th>Nome</th>
							<th>CPF</th>
							<th>Usuário</th>
							<th>Senha</th>
							<th>E-mail</th>
							<th>Telefone</th>
							<th>Opções</th>
						</tr>
					</thead>
					<tbody>						
						<% pessoas.forEach(function(pessoa) { %>
							<tr style="color:#000">	
								<td><%= pessoa._id %></td>								
								<td><%= pessoa.nome %></td>
								<td><%= pessoa.cpf %></td>
								<td><%= pessoa.user %></td>
								<td><%= pessoa.pass %></td>
								<td><%= pessoa.email %></td>
								<td><%= pessoa.telefone %></td>
								<td>
									<a href="/edit/id=<%= pessoa.id %>" title="Editar"><span class="fa fa-pencil-square-o"/></a>
									<a href="delete/<%= pessoa.id %>" title="Excluir"><span class="fa fa-trash-o"/></a>
								</td>
							</tr>
						<% }); %>
					</tbody>
				</table>
				<br/>
			<a href="/" title="Voltar"  class="btn btn-warning"> Voltar </a>
			</div>
		</div>
	</div>
</section>	
<% include ../footer %>